.vscode
__pycache__
.ipynb_checkpoints
lightning_logs
release-checkpoints
*.egg-info
build/
runs/
logdir
*.ckpt
emd_cuda.*
autoslurm
inspect_opacities/all_opacities.pkl
inpect_opacities/*.pkl
*.png
*.pkl
rend
videos
pc
temp.py
so3models
wrapper.sh
debug_images
gecco-torch/src/gecco_torch/utils/2024*
didnt_work.txt
eval_upsampling_vis.ipynb
*logidr*
*lightning_logs*
download_taskonomy.sh
mesh*
taskonomy-gecco
__pycache__
._*
MNIST
wandb
gecco
tb_logs
checkpoints
logs
my-awesome-project
*DS_Store*
*.swp
.nfs*
*.npy
*.png
*.npz
*.mp4
